html{
    background-image: linear-gradient(to right, #35297f ,#792a91 );
    
}

h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
     
    
}

body{
    margin: 0 auto;
    font-family: Nunito Sans,sans-serif;
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
  position: relative;
  padding: 60px 1px 1px 30px;
    display: inline-flex;
    align-items: center
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: px;
  font-size: 18px;
    color: aliceblue
}

.intro{
  right: px;
  font-size: 18px;
    color: aliceblue;
    text-align: justify;
    padding: 0 10vw 10px;
    max-width: 500px;
    font-weight: 600
}

.connect-box {
    position: fixed;
    right: 10px;
    bottom: 10px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    transition: all 0.3s;
}

.fa:hover {
    opacity: 0.7;
}

.connect-box a {
  background: #3d2981;
  color: white;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
    .intro {
        padding: 0
    }
}
